/* レスポンシブ */
.visible_1150{
    display: none;
}
.hidden_1150{
    display: block;
}
.hidden_1150_inline{
    display: inline;
}
.visible_1150_inline{
    display: none;
}
@media screen and (max-width:1149px) {
    .visible_1150{
        display: block;
    }
    .hidden_1150{
        display: none;
    }
    .hidden_1150_inline{
        display: none;
    }    
    .visible_1150_inline{
        display: inline;
    }
    header{
        min-width: 0;
    }
    .header_green > div,
    .header_white > div{
        max-width: 1150px;
        margin: 0;
        width: 100%;
    }
    .header_white_left{
        width: 20%;
    }
    .header_white_left p{
        font-size: 18px;
    }
    .header_white_center{
        width: 40%;
    }
    .header_white_right{
        width: 40%;
        padding-right: 1rem;
    }

    .header_white_left{
        text-align: center;
    }
    .header_white_left div{
        width: 100%;
        font-size: 21px !important;
    }
    .header_white_left > div > span,
    .header_white_left > div > p{
        width: 100%;
    }
    .header_white_left img{
        width: 40px;
        margin: auto;
    }
}
@media screen and (max-width:999px) {
    .top_img_child p{
        font-size: 32px;
    }
}