*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: "MS Pゴシック" ; */
    /* font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO" !important; */
    width: 100%;
    max-width: 100%;
    color: #333;
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 900;
    font-size: 16px;
}
li{
    list-style: none;
}

/* 共通項目 */
.max_width_920{
    max-width: 960px;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.max_width_1150{
    max-width: 1150px;
    margin: auto;
}
.text_align_center{
    text-align: center;
}
.text_align_right{
    text-align: right;
    padding-right: 0.5rem;
}
.white_space_nowrap{
    white-space: nowrap;
}
.center{
    margin-left: 50%;
    transform: translateX(-50%);
}
.marker_1{
    background:linear-gradient(transparent 70%, #ffff00 0%);
}
.d_flex{
    display: flex;
    align-items: center;
}

/* font family */
.m_plus_rounded_500{
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-weight: 500; 
}
.m_plus_rounded_700{
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-weight: 700; 
}
.m_plus_rounded_800{
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-weight: 800; 
}
.m_plus_rounded_900{
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    font-weight: 900; 
}
.noto_sans_jp_500{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 500;
}
.noto_sans_jp_700{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 700;
}
.noto_sans_jp_900{
    font-family: 'Noto Sans JP', sans-serif !important;
    font-weight: 900;
}


/* font size */
.fs_12{
    font-size: 12px;
}
.fs_15{
    font-size: 15px;
}
.fs_16{
    font-size: 16px;
}
.fs_18{
    font-size: 18px;
}
.fs_18_4668{
    font-size: 18.4668px;
}
.fs_20_09{
    font-size: 20.09px;
}
.fs_21{
    font-size: 21px;
}
.fs_22{
    font-size: 22px;
}
.fs_23{
    font-size: 23px;
}
.fs_24{
    font-size: 24px;
}
.fs_24_8571{
    font-size: 24.8571px;
}
.fs_26{
    font-size: 26px;
}
.fs_26_22{
    font-size: 26.22px;
}
.fs_27_27{
    font-size: 27.27px;
}
.fs_28{
    font-size: 28px;
}
.fs_28_25{
    font-size: 28.25px;
}
.fs_28_48{
    font-size: 28.48px;
}
.fs_30_13{
    font-size: 30.13px;
}
.fs_30_37{
    font-size: 30.37px;
}
.fs_31{
    font-size: 31px;
}
.fs_32{
    font-size: 32px;
}
.fs_34_98{
    font-size: 34.98px;
}
.fs_35_02{
    font-size: 35.02px;
}
.fs_36{
    font-size: 36px;
}
.fs_37_93{
    font-size: 37.93px;
}
.fs_38{
    font-size: 38px;
}
.fs_40{
    font-size: 40px;
}
.fs_41_48{
    font-size: 41.48px;
}
.fs_42{
    font-size: 42px;
}
.fs_44{
    font-size: 44px;
}
.fs_45_9{
    font-size: 45.9px;
}
.fs_47_23{
    font-size: 47.23px;
}
.fs_49_58{
    font-size: 49.58px;
}
.fs_51_99{
    font-size: 51.99px;
}
.fs_60{
    font-size: 60px;
}
.fs_79_78{
    font-size: 79.78px;
}

/* padding */
.p_0{
    padding: 0 !important;
}
.p_2{
    padding: 0.2rem;
}
.p_5{
    padding: 0.5rem;
}
.p_10{
    padding: 1rem;
}

.pt_10{
    padding-top: 1rem;
}

.py_2{
    padding: 0.2rem 0 !important;
}
.py_5{
    padding: 0.5rem 0;
}
.py_10{
    padding: 1rem 0 !important;
}
.py_15{
    padding: 1.5rem 0;
}
.py_20{
    padding: 2rem 0;
}

/* margin */
.mt_10{
    margin-top: 1rem;
}

.my_5{
    margin: 0.5rem 0;
}
.my_10{
    margin: 1rem 0;
}

/* back ground color */
.back_ground_color_green{
    background-color: #4ba290;
}
.back_ground_color_white{
    background-color: white;
}
.back_ground_color_red{
    background-color: #d36978;
}
.back_ground_color_dark_pink{
    background-color: rgb(226, 138, 138);
}
.back_ground_color_light_pink{
    background-color: #f5e9ec;
}
.back_ground_color_clear_white{
    background-color: rgba(255, 255, 255, 0.7);
}
.back_ground_color_light_blue_1{
    background-color: #e4ebee;
}
.back_ground_color_light_blue_2{
    background-color: #d3e3ea;
}
.back_ground_color_light_blue_3{
    background-color: #b4ddd9;
}
.back_ground_color_gray{
    background-color: #ece6d9;
}
.back_ground_color_dark_green{
    background-color: #6a9041;
}
.back_ground_color_dark_blue{
    background-color: #204c66;
}

/* font color */
.font_dark_green{
    color: #486129;
}
.font_yellow{
    color: #fff053;
}
.font_white{
    color: white;
}
.font_white_2{
    color: #ececec;
}
.font_green{
    color: #4ba290;
}
.font_red{
    color: #d36978;
}
.font_dark_blue{
    color: #204c66;
}
.font_gold{
    color: #6e552c;
}

/* header */
header{
    width: 100vw;
    min-width: 1150px;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header_green{
    height: 40px;
}
.header_green > div{
    width: 1150px;
    margin: auto;
}
.header_green p{
    margin-left: 5rem;
    line-height: 40px;
}
.header_white{
    height: 150px;
    margin: auto;
}
.header_white > div{
    width: 1150px;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin: auto;
}
.header_white_left{
    width: 33%;
    padding-left: 20px;
}
.header_white_center{
    width: 32%;
}
.header_white_right{
    width: 35%;
}
.header_white_left div{
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
}
.header_white_left_logo{
    margin-right: 1rem;
}
.header_white_left img{
    width: 24px;
}
.header_white_center>div>div{
    position: relative;
}
.header_white_center>div>div img{
    max-width: 95%;
}
.header_white_center p{
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1.2em;
    transform: translate3d(-50%,-50%,0);
    white-space: nowrap;
    text-align: center;
}
.header_white_right{
    text-align: right;
}
.header_white_right img{
    width: 30px;
    margin-right: 26px;
}
.header_white_right .header_tel{
    line-height: 44px;
    margin-top: 15px;
}
.header_white_right .header_time{
    padding: 3px 0;
}
.header_white_right .back_ground_color_green{
    width: 90%;
    border: none;
}

/* main */
#top .back_ground_color_clear_white{
    padding: 15px 40px;
}
.top_img_parent{
    position: relative;
}
.top_img{
    max-width: 100%;
}
.top_img_parent img{
    width: 100%;
    height: 40vw;
    object-fit: cover;
}
.top_img_left img{
    overflow: hidden;
}
.top_img_child{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
@media screen and (max-width:1310px) {
    .top_img_child{
        width: 90%;
    }
}

/* top btn */
.inquiry_btn{
    min-width: 46%;
    height: 100px;
    border-radius: 10px;
    border: none;
    margin: 40px auto;
    box-shadow: 2px 2px gray;
    cursor: pointer;
    padding: 0;
}
.tel_2 img{
    margin-right: 15px;
}

/* コロナ */
#corona{
    padding-bottom: 10px;
    background-image: url('../img/back_red.png');
}
#corona img{
    max-width: 100%;
    margin-bottom: 1rem;
}

/* 新着情報 */
#news_parent{
    padding-bottom: 20px;
}
#contents{
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgray;
    padding: 10px 30px;
    box-shadow: 1px 1px 3px 2px rgba(100,100,100,0.6);
}
#contents p{
    padding-bottom: 10px;
}
#information > div{
    border-top: gray dotted 2px;
}
#information dt{
    padding-bottom: 10px;
}

/* 申し込み */
.inquiry_2_bottom_parent{
    position: relative;
    height: 375px;
    display: flex;
}
.inquiry_2_bottom_left{
    width: 75%;
    vertical-align: top;
}
.inquiry_2_tel{
    padding: 1rem 0 1rem 1rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px 10px white;
}
.inquiry_2_tel_bottom p{
    margin-left: auto;
    padding-right: 40px;
}
.inquiry_2_tel > div{
    display: flex;
}
.inquiry_2_bottom_right{
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    display: flex;
    overflow: visible;
}
.inquiry_2_bottom_right img{
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}
.inquiry_2_tel img{
    width: 40px;
    margin-right: 40px;
    margin-top: 20px;
    object-fit: contain;
    vertical-align: top;
    transform: translateY(-1.5rem);
}
.inquiry_2_bottom_child{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 0.8rem;
    width: 80%;
}
.inquiry_2_bottom_child div{
   margin-left: 0.2rem;
}
.inquiry_2_bottom_time{
    margin: 20px 0 10px 20px;
}

/* 歩行訓練・・ */
#gold_2{
    display: none;
    max-width: 630px;
    margin: auto;
}
#gold_2 img{
    width: 100%;
}

/* 特徴 */
#feature{
    background-image: url(../img/back_mesh.png);
}
.feature_contents{
    border: #b4ddd9 solid 1px;
    box-shadow: 3px 3px 2px #999;
    align-items: center;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.feature_contents_left{
    width: 160px;
    align-items: center;
}
.feature_contents_left img{
    width: 130px;
    padding: 30px;
}
.feature_contents_right{
    width: 800px;
    vertical-align: top;
    padding: 18px 3px 5px 18px;
}
.feature_contents_right .fs_23{
    align-items: flex-start;
}

/* 様子 */
#appearance{
    padding: 1rem 0;
}
.appearance_title{
    position: relative;
    height: 60px; 
    line-height: 60px; 
}
.appearance_title:before,
.appearance_title:after {
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        z-index: 1;
}
.appearance_title:before {
        top: 0;
        left: 0;
        border-width: 30px 0px 30px 25px;
        border-color: transparent transparent transparent #f5e9ec;
        border-style: solid;
}
 
.appearance_title:after {
        top: 0;
        right: 0;
        border-width: 30px 25px 30px 0px;
        border-color: transparent #f5e9ec transparent transparent;
        border-style: solid;
}
.appearance_contents{
    margin: 0.2rem 0;
}
.appearance_contents_left,
.appearance_contents_right{
    display: inline-block;
    width: 50%;
}
.appearance_contents iframe{
    width: 87%;
    height: 280px;
}
.appearance_contents_left iframe{
    padding: 20px 3% 0 10%;
}
.appearance_contents_right iframe{
    padding: 20px 10%  0 3%;
}

/* 声 */
#voice .font_yellow{
    text-shadow: 2px 2px gray;
}
.voice_contents{
    border: gray solid 1px;
    box-shadow: 1px 1px gray;
    align-items: center;
    display: flex;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.voice_contents_left{
    width: 25%;
    align-items: center;
    padding: 15px 0 15px 15px;
    display: flex;
}
.voice_contents_left img{
    width: 100%;
}
.voice_contents_right{
    width: 75%;
    padding: 15px 2px 15px 20px;
}

/* 悩み */
#worries{
    padding: 20px 0 0 0;
    position: relative;
}
#worries::before{
    content: "";
    position: absolute;
    border: 120px solid transparent;
    border-top: 60px solid #e4ebee;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
#worries .back_ground_color_white{
    padding: 10px 30px 30px 20px;
}
#worries > .max_width_920{
    max-width: 860px;
}
#worries ul{
    padding: 0 0 0 30px;
}
#worries li{
    border-bottom: #adadad dashed 2px;
    margin-top: 20px;
    align-items: flex-start;
}
#worries li img{
    width: 40px;
    margin-right: 10px;
}

/* 相談 */
#consultation{
    position: relative;
    right: 0;
    padding-top: 60px;
    z-index: 0;
}
.consultation_img{
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 20%;
    z-index: -1;
}
.consultation_img img{
    width: 100%;
}
.consultation_body p{
    line-height: 2em;
}
.consultation_body > p{
    margin-top: 20px;
    padding-bottom: 30px;
}

/* 理由 */
#reason .back_ground_color_dark_green{
    position: relative;
    height: 100px;
    z-index: 9999;
}
#reason .back_ground_color_dark_green::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border-top: 70px solid #6a9041;
    border-left: 49.5vw solid transparent;
    border-right: 49.5vw solid transparent;
}
#reason h1{
    margin-top: 0.5rem;
}
.reason_contents{
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}
.reason_left{
    width: 20%;
}
.reason_left img{
    width: 75%;
    padding: 10px;
}
.reason_right{
    width: 80%;
}
.reason_right p{
    line-height: 1.8em;
}
.reason_parent{
    position: relative;
    z-index: 0;
    padding-top: 70px;
}
.reason_parent > img{
    object-fit: cover;
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
}
.reason_img_1{
    z-index: -1;
    bottom: 45rem;
    left: calc(100% - (100% - 960px) / 2 - 960px - 15rem);
}
.reason_img_2{
    z-index: -1;
    bottom: 10rem;
    left: calc(100% - (100% - 960px) / 2 - 960px - 15rem);
}
.reason_img_3{
    z-index: -1;
    top: 10rem;
    right: calc(100% - (100% - 960px) / 2 - 960px - 15rem);
}
.reason_img_4{
    z-index: -1;
    top: 45rem;
    right: calc(100% - (100% - 960px) / 2 - 960px - 15rem);
}
.reason_img_bottom{
    display: none;
}
@media screen and (max-width:1500px) {
    .reason_parent > img{
        width: 12rem;
        height: 12rem;
    }
    .reason_img_1{
        left: calc(100% - (100% - 960px) / 2 - 960px - 12rem);
    }
    .reason_img_2{
        left: calc(100% - (100% - 960px) / 2 - 960px - 12rem);
    }
    .reason_img_3{
        right: calc(100% - (100% - 960px) / 2 - 960px - 12rem);
    }
    .reason_img_4{
        right: calc(100% - (100% - 960px) / 2 - 960px - 12rem);
    }
}
@media screen and (max-width:1400px) {
    .reason_parent > img{
        width: 10rem;
        height: 10rem;
    }
    .reason_img_1{
        left: calc(100% - (100% - 960px) / 2 - 960px - 10rem);
    }
    .reason_img_2{
        left: calc(100% - (100% - 960px) / 2 - 960px - 10rem);
    }
    .reason_img_3{
        right: calc(100% - (100% - 960px) / 2 - 960px - 10rem);
    }
    .reason_img_4{
        right: calc(100% - (100% - 960px) / 2 - 960px - 10rem);
    }
}
@media screen and (max-width:1400px) {
    .reason_img_1{
        left: calc(100% - (100% - 960px) / 2 - 960px - 9rem);
    }
    .reason_img_2{
        left: calc(100% - (100% - 960px) / 2 - 960px - 9rem);
    }
    .reason_img_3{
        right: calc(100% - (100% - 960px) / 2 - 960px - 9rem);
    }
    .reason_img_4{
        right: calc(100% - (100% - 960px) / 2 - 960px - 9rem);
    }
}
@media screen and (max-width:1280px) {
    .reason_img_1,
    .reason_img_2,
    .reason_img_3,
    .reason_img_4{
        display: none;
    }
    .reason_img_bottom{
        display: flex;
        padding-bottom: 1rem;
    }
    .reason_img_bottom img{
        width: 25%;
        height: 25vw;
        object-fit: cover;
    }
}

/* エリア */
#area .back_ground_color_dark_blue{
    position: relative;
    z-index: 0;
}
#area .back_ground_color_dark_blue::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border-top: 50px solid #204c66;
    border-left: 49.5vw solid transparent;
    border-right: 49.5vw solid transparent;
}
#area .max_width_920{
    padding-top: 50px;
}
.area_top{
    margin: 30px 0 0 50px;
}
.area_top_dot{
    line-height: 0.6em;
}
#map{
    width: 100%;
    height: 520px;
    margin: 30px 0 20px 0;
}
.area_bottom{
    padding: 20px 0 50px 0;
    line-height: 4em;
}
.area_bottom p{
    margin: auto;
    width: 98%;
}

/* 料金 */
#fee{
    padding: 80px 0 100px 0;
}
.fee_contents{
    position: relative;
    border: #4ba290 4px solid;
    border-radius: 2rem;
    padding: 60px 40px 40px 40px;
    line-height: 3em;
    margin: auto;
}
.fee_title{
    z-index: 9999;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 60px;
    background-color: white;
    padding: 0 1rem;
    text-align: center;
}
.fee_txt{
    z-index: 9999;
    position: relative;
}
.fee_img{
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}
.fee_img img{
    width: 100%;
    border-radius: 2rem;
}

/* 流れ */
#use{
    line-height: 3em;
}
#use .fs_21{
    line-height: 2em;
}
#use .max_width_920{
    padding: 40px 0;
}
.use_contents{
    align-items: center;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}
.use_contents_left{
    width: 20%;
}
.use_contents_left img{
    width: 100%;
}
.use_contents_right{
    width: 80%;
    padding-left: 60px;
}
.use_under{
    margin: 20px 0 20px 25%;
}

/* よくある質問 */
#faq{
    padding-bottom: 80px;
    line-height: 3em;
}
.faq_contents{
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.4);
    margin: 30px 0;
    padding: 40px;
}
.faq_q{
    border-bottom: #adadad dashed 2px;
    width: fit-content;
    padding: 0 5px 0 10px;
    white-space: nowrap;
}
.faq_a{
    display: flex;
    vertical-align: top;
    margin-top: 1rem;
    padding-left: 10px;
}
.faq_a p{
    padding-top: 0.5rem;
}
.a{
    margin-right: 20px;
}
.q{
    margin-right: 10px;
}

/* プライバシーポリシー */
#privacy_parent{
    margin: 20px 1rem;
}
#privacy{
	padding: 10px;
	background-color: #fffff1;
	height: 200px;
	overflow: scroll;
	border: 2px solid #888;
}

/* グループ */
.group_top{
    margin: 2rem 0;
    position: relative;
}
.group_top .group_line {
position: absolute;
top: calc(50% - 1px);
left: 0;
width: 100%;
height: 2px;
content: '';
background: rgb(59, 163, 106);
}
.group_top .group_title{
    line-height: 3rem;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 960px;
    max-width: 960px;
}
.group_top .group_title div{
    text-align: left;
    background-color: white;
    width: 200px;
    text-align: center;
}
.group_contents{
    padding: 30px 0 50px 0;
}
#group ul li{
    width: 50%;
}
#group ul li .font_green{
    transform: scale(0.7, 1.2);
    margin: 15px 10px 15px 0;
}
#group a{
    text-decoration: none;
    color: #333;
}
#group img{
    width: 18px;
    padding-left: 15px;
}